<a href="https://colab.research.google.com/github/Niharika-Razz/python/blob/main/Copy_of_Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s=pd.Series([10,20,30])
print(s)

0    10
1    20
2    30
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([10.3,20.56,30.8])
print(s)

0    10.30
1    20.56
2    30.80
dtype: float64

In [ ]:
import pandas as pd
s2=pd.Series(["james","bob","rupa"],index=[3,4,5])
print(s2)

3    james
4      bob
5     rupa
dtype: object

In [ ]:
s2=pd.Series([1,2,3,4],index=["Feb","mar","apr","may"])
print(s2)

Feb    1
mar    2
apr    3
may    4
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
arr1=np.array([1,2,3,4])
s3=pd.Series(arr1)
print(s3)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
arr1=np.array([6,4,3,10])
s3=pd.Series(arr1)
print(s3)

0     6
1     4
2     3
3    10
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
arr1=np.arange(1,10,2)
s3=pd.Series(arr1)
print(s3)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
array1=np.array([2,4,6,6])
s4=pd.Series(array1,index=["jan","feb","mar","apr"])
print(s4)

jan    2
feb    4
mar    6
apr    6
dtype: int64

In [ ]:
dict1={"india":"new delhi","UK":"london","japan":"tokyo"}
s5=pd.Series(dict1)
print(s5)

india    new delhi
UK          london
japan        tokyo
dtype: object

In [ ]:
sNum=pd.Series([1,4,3,5])
sNum[2]

3

In [ ]:
snum=pd.Series([1,4,3,5])
snum[2]

3

In [ ]:
s=pd.Series([1,2,3],index=["feb","mar","jun"])
s["jun"]

3

In [ ]:
Cntry=pd.Series(["new delhi","washington","london","paris"],index=["india","usa","uk","france"])
Cntry[1:3]

usa    washington
uk         london
dtype: object

In [ ]:
Cntry=pd.Series(["new delhi","washington","london","paris"],index=["india","usa","uk","france"])
Cntry[::-1]

france         paris
uk            london
usa       washington
india      new delhi
dtype: object

In [ ]:
Cntry=pd.Series(["new delhi","washington","london","paris"],index=["india","usa","uk","france"])
Cntry.name="Capitals"
print(Cntry)

india      new delhi
usa       washington
uk            london
france         paris
Name: Capitals, dtype: object

In [ ]:
Cntry=pd.Series(["new delhi","washington","london","paris"],index=["india","usa","uk","france"])
Cntry.index.name="countries"
print(Cntry)

countries
india      new delhi
usa       washington
uk            london
france         paris
dtype: object

In [ ]:
print(Cntry.values)

['new delhi' 'washington' 'london' 'paris']

In [ ]:
print(Cntry.size)

4

In [ ]:
print(Cntry.empty)

False

In [ ]:
Cntry.head(2)

countries
india     new delhi
usa      washington
dtype: object

In [ ]:
Cntry.tail(2)

countries
uk        london
france     paris
dtype: object

In [ ]:
s=pd.Series([1,2,3],index=["feb","mar","jun"])
s["feb"]

1

In [ ]:
snum=pd.Series([1,3,2])
snum[[0,2]]

0    1
2    2
dtype: int64

In [ ]:
import pandas as pd
sA=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
sB=pd.Series([1000,2000,3000,4000,5000],index=['a','b','c','d','e'])
sC=pd.Series([100,200,300,400,500],index=['z','y','a','e','c'])
d=pd.DataFrame([sA,sB,sC])
print(d)

        a       b       c       d       e      z      y
0     1.0     2.0     3.0     4.0     5.0    NaN    NaN
1  1000.0  2000.0  3000.0  4000.0  5000.0    NaN    NaN
2   300.0     NaN   500.0     NaN   400.0  100.0  200.0

In [ ]:
d=pd.DataFrame({"x":[1,2,3,4,5],"y":[10,20,30,40,50],"z":[12,34,45,56,67]});
print(d)

   x   y   z
0  1  10  12
1  2  20  34
2  3  30  45
3  4  40  56
4  5  50  67